<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="aService" class="com.test.service.AService" init-method="init">
        <property type="com.test.service.BService" name="bService" ref="bService"/>
    </bean>

    <bean id="bService" class="com.test.service.BServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.test.service.CService" name="cService" ref="cService"/>
    </bean>

    <bean id="cService" class="com.test.service.CService" init-method="init"/>


    <!--MyListener-->
    <bean id="contextListener" class="com.test.config.ioc.MyListener"/>
    <!--MyBeanFactoryPostProcessor-->
    <bean id="beanFactoryPostProcessor" class="com.test.config.ioc.MyBeanFactoryPostProcessor"/>
    <!--AutowiredAnnotationBeanPostProcessor-->
    <bean id="autowiredAnnotationBeanPostProcessor"
          class="com.minis.beans.factory.postprocessor.bean.AutowiredAnnotationBeanPostProcessor"/>
    <!--LogBeanPostProcessor-->
    <bean id="logBeanPostProcessor" class="com.test.config.ioc.LogBeanPostProcessor"/>


    <!--handlerMapping-->
    <bean id="handlerMapping" class="com.minis.web.servlet.mapping.RequestMappingHandlerMapping"/>
    <!--handlerAdapter-->
    <bean id="handlerAdapter" class="com.minis.web.servlet.adapter.RequestMappingHandlerAdapter">
        <property type="com.minis.web.servlet.adapter.bind.WebBindingInitializer" name="webBindingInitializer"
                  ref="webBindingInitializer"/>
        <property type="com.minis.web.servlet.adapter.convert.http.HttpMessageConverter" name="messageConverter"
                  ref="messageConverter"/>
    </bean>
    <!--viewResolver-->
    <bean id="viewResolver" class="com.minis.web.servlet.resolver.InternalResourceViewResolver">
        <property type="String" name="viewClassName" value="com.minis.web.servlet.resolver.view.JstlView"/>
        <property type="String" name="prefix" value="/jsp/"/>
        <property type="String" name="suffix" value=".jsp"/>
    </bean>

    <!--webBindingInitializer-->
    <bean id="webBindingInitializer" class="com.test.config.mvc.DateInitializer"/>
    <!--messageConverter-->
    <bean id="messageConverter" class="com.minis.web.servlet.adapter.convert.http.DefaultHttpMessageConverter">
        <property type="com.minis.web.servlet.adapter.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="com.minis.web.servlet.adapter.util.DefaultObjectMapper">
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>


    <!--JdbcTemplate-->
    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>
    <!--SingleConnectionDataSource-->
    <bean id="dataSource" class="com.minis.jdbc.datasource.SingleConnectionDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/minis"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="root"/>
    </bean>

    <bean id="userService" class="com.test.jdbc.UserService"/>
</beans>